.container{
    display: flex;
    flex-wrap: wrap;
    /* display: inline-flex */
   justify-content: center;
}
.item{
    flex-basis: 550px;
    /* margin: 10px 10px 10px 10px; */
    padding-left: 30px;
    padding-top: 30px;
}
.slider{
    width: 413px;
    height: 531px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.book_img input[type=radio]{
    display: none;
}
ul.imgs{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul imgs li{
    position: absolute;
    left: 480;
    transition-delay: 1s;
    padding: 0;
    margin: 0;
}
.info{
    text-align: left;
    padding-top: 10%;
    padding-left: 10%;
}
.sell_info{
    text-align: left;
}
.info_detail{
    background-color: white;
    background-position: center bottom;
    /* border: #ffffff 2px solid; */
    padding-top: 20px;
    width: 80%;
}