@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: TheJamsil5Bold;
}

a {
    text-decoration-line: none;
}

textarea {
    width: 300px;
    height: 50px;
}

main {
    background-color: #EEEEEE;
    height: 600px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#mark {
    z-index: 2;
    text-align: left;
    position: absolute;
    margin-left: 10%
}

#login {
    text-align: end;
    z-index: 1;
    height: 30px;
    margin: 1%;
}

#logo {
    text-align: center;
    margin: 1%;
}

#login > a {
    margin: 1%;
    color: rgb(115, 115, 115);
}

#login > a:hover {
    color: rgb(243, 156, 18) ;
    transform: scale(2);
    transition-duration: 0.5s;
    font-size: 110%;
}

#navbar > ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3A98B9;
    height: 50px;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#navbar > ul > li:first-child {
    border-left: none; 
}

#navbar > ul > li > a {
    color: white;
    font-size: 120%;
}

#navbar > ul > li > a:hover{
    color: black;
    transition-duration: 0.5s;
    /* transform: scale(2); */
    /* font-size: 140%; */
}

#navbar > ul > li > a.current {
    text-decoration: underline;
}

div.left {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

div.right {
    width: 50%;
    float: right;
    margin-bottom: 30px;
}

table {
    margin: auto;
    font-size: 25px;
    padding-top: 2%;
}

.regButton {
    width: 150px;
    height: 50px;
    background-color: white;
    border: 0;
    font-size: 120%;
    border-radius: 20px;
    margin-top: 1%;
    cursor: pointer;
}

#SText {
    width: 400px;
    height: 100px;
    font-size: 20px;
}

#SBottom {
    float: left;
    margin-top: 7%;
}

td {
    text-align: left;
}

select {
    width: 275px;
}

.regButton:hover{
    background-color: rgb(243, 156, 18);
    color: white;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#myProHead {
    background-color: #ffffff ;
    height: 30%;
    width: 70%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2%;
    font-size: 20px;
}

#myProBody > button > a {
    color: black;
}

#myProBody > button > a:hover {
    color: white;
    transform: scale(2);
    transition-duration: 0.5s;
    font-size: 120%;
}

#myProBody > button:hover {
    background-color: rgb(243, 156, 18);
    color: white;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

#myProBody > button {
    width: 70%;
    height: 100px;
    background-color: white;
    border: 0;
    font-size: 120%;
    border-radius: 20px;
    margin-top: 3%;
    margin: 10px;
}

select, input {
    width: 250;
    height: 30px;
    font-size: 20px;
}

.dropbtn {
    color: white;
    font-size: 120%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown > .dropbtn:hover {
    color: black;
    transition-duration: 0.5s;
    /*font-size: 140%; */
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}