a {
	text-decoration: none; 
}
.regist-header img {
    padding-left: 10%;
  }
.registerarea {
    height: 520px;
    margin-top: 20px;
}
.registerarea .regist-header{
  display: flex;
  justify-content: center;
}
.registerarea .regist-header img {
    width: 300px;
    height: auto;
}
.reg_form {
    width: 600px;
    height: 400px;
    margin: 40px auto;
}
.reg_form li {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.reg_form label {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.reg_form  .inp {
    width: 250px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 25px;
}
.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
    text-align: center;
}