@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}
.normal{
	/* margin:0 150px; */
}
#top{
	font-weight: 600;
	color:#9c9ba0;
}
#top .top-tab{
	position:relative;
	padding:5px 150px;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
	background-color: #ebebeb;
	border-bottom: 2px solid #cacaca;
}
#top .top-tab .tab-right-item{
	padding:0 10px;
	display: inline;
}
#top .top-tab .top-tab-right .collect:hover,#top .top-tab .top-tab-right .more:hover{
	color: #e83f30;
}
#top .top-tab .top-tab-right .collect:hover img,#top .top-tab .top-tab-right .more:hover img{
	transform:rotate(180deg);
}
#top .top-tab .top-tab-right .collect:hover .collect-content,#top .top-tab .top-tab-right .more:hover .more-content{
	display: block;
}
.collect-content,.more-content{
	position:absolute;
	top:30px;
	font-size: 13px;
	background-color: #f0eded;
	padding-left:10px;
	line-height: 2;
	box-shadow:0px 1px 5px #858383;
	color: #9c9ba0;
	display: none;
	z-index: 10;
}
#top .top-content{
	position:relative;
	display:flex;
	justify-content: space-between;
	padding:20px 0;
}
#top .top-content .top-content-left .logo-shop{
	position:absolute;
	background-color: #ffffff;
	color:#fff;
	font-size:18px;
	padding:12px 25px;
}
#top .top-content .top-content-center,.top-content-left,.top-content-right{
	flex:1;
	/* border:2px solid red !important; */
}
#top .top-content .top-content-center .top-centent-search {
	height:35px;
	padding-bottom: 5px;
}
#top .top-content .top-content-center .top-centent-search .search{
	position:relative;
	width:75%;
	height:100%;
	border:3px solid #3c98ef;
	float: left;
}
#top .top-content .top-content-center .top-centent-search .text{
	float: left;
	width:25%;
	text-align: center;
	height: 100%;
	background-color: #3c98ef;
	color:#fff;
}
#top .top-content .top-content-center .top-centent-search .text span{
	display: block;
	margin:6px 0;
}
#top .top-content .top-content-center .top-centent-list span{
	padding:0 5px;
	font-size:12px;
}
#top .top-content .top-content-right{
	text-align: center;
	margin:0px auto;
}
#top .top-content .top-content-right .my-cart{
	position: relative;
	/* left: 30%; */
	/* border:2px solid #cacaca; */
	/* display: flex;
	justify-content: center; */
	height:20px;
	/* padding:10px 25px; */
	display: inline-block;
	/* width:30%; */
}
#top .top-content .top-content-right .nc_topbar{
	height:20px;
	width:20px;
	overflow: hidden;
	padding-top:5px;
	z-index:5;
	margin-right: 5px;
	float: left;
	/* border:1px solid red; */
}
#top .top-content .top-content-right .text{
	position:relative;
	float: left;
	/* border:1px solid red; */
}

#middle{
	font-weight: 700;
	 height:600px;
	/* overflow: hidden; */
	margin-bottom: 30px;
}
#middle .middle-tab{
	border-bottom:2px solid #8a9ba4;
}
#middle .middle-tab .middle-tab-list{
	margin: 0 150px;
	overflow: hidden;
}
#middle .middle-tab .middle-tab-list li{
	float: left;
	list-style: none;
	margin:0px 20px;
	padding:8px ;
	color:#959592;
}
#middle .middle-tab .middle-tab-list li:nth-of-type(1){
	background-color: #2d80ce;
	width:180px;
	margin:0px 0px;
	color:#fff;
}
#middle .middle-content{
	height:400px;
	/* overflow: hidden; */
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
#middle .middle-content .middle-content-left {
	width: 15%;
}

#middle .middle-content .middle-content-center {
	width: 70%;
}
#middle .middle-content .middle-content-right {
	width: 15%;
}
#middle .middle-content .middle-content-left ul{
	height: 100%;
	display: flex;
	flex-direction: column;
}

#middle .middle-content .middle-content-left li{
	flex: 1;
	background-color: #3c98ef;
	width:100%;
	flex:1;
	font-size:13px;
	letter-spacing:0.2mm;
	list-style: none;
	padding:10px 8px 0 8px;
	color:#fff;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}
#middle .middle-content .middle-content-left li:nth-of-type(14){
	padding-bottom: 10px;
}
/* :hover
:active
:link
:visited */
/* #middle .middle-content .middle-content-left li:active{
	color: #e83f30;
} */
#middle .middle-content .middle-content-left li .arrow{
	margin-right:3px;
}
#middle .middle-content .middle-content-center{
	/* border:2px solid red; */
	width: 65%;
	height: 400px;
	/* overflow: hidden; */
}


.middle-content-center .swiper a{
	list-style: none;
}
.middle-content-center .swiper li{
	list-style: none;
}
.middle-content-center .swiper{
	width: 100%;
}
.middle-content-center .swiper .swiper-content{
	width: 100%;
	height: 400px;
	position: relative;
}
.middle-content-center .swiper #item{
	width: 100%;
	height: 100%;
}
.middle-content-center .swiper .swiper-item{
	width: 100%;
	position: absolute;
	opacity: 0;
	transition: all 1s;
}
.middle-content-center .swiper .swiper-item a {
	display: flex;
}
.middle-content-center .swiper .swiper-item  a img {
	height: 400px;
}
.middle-content-center .swiper .swiper-item.swiper-active{
	opacity:1;
}
.middle-content-center .swiper img{
	width: 100%;
}
.middle-content-center .swiper #btn-left{
	width: 30px;
	height: 69px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 69px;
	padding-left:5px;
	z-index: 10;/*始终显示在图片的上层*/
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-60%);/*使按钮向上偏移居中对齐*/
	cursor: pointer;
	opacity: 0;/*平时隐藏*/
}
.middle-content-center .swiper:hover #btn-left{
	/*鼠标滑入，显示图标*/
	opacity: 1;
}

.middle-content-center .swiper #btn-right{
	width: 26px;
	height: 69px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 69px;
	padding-left: 5px;
	z-index: 10;
	position: absolute;
	right: 0;
	top: 50%;
	cursor: pointer;
	opacity: 0;
	transform: translateY(-60%);
}
.middle-content-center .swiper:hover #btn-right{
	opacity: 1;
}
.middle-content-center .swiper#circle{
	height: 20px;
	display: flex;
	position: absolute;
	top:0px;
	left:0px;
	border:1px solid black;
	overflow: hidden;
}
.circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid #fff;
	background: rgba(0,0,0,0.4);
	cursor: pointer;
	margin: 5px;
	float: left;
	position:relative;
	top:-50px;
}
.white{
	background-color: #FFFFFF;
}


.li-active{
	background-color: #f7f7f7 !important;
	color: #e83f30 !important;
	padding-bottom:5px !important;
}

#middle .middle-content .middle-content-center .item1,.item2{
	display: none;
	/* display: block; */
}
#middle .middle-content .middle-content-center .item1 img{
	position:relative;
	width:100%;
	top:0px;
}
#middle .middle-content .middle-content-center .item2 img{
	position:relative;
	width:100%;
	top:0px;
}
#middle .middle-content .middle-content-right{
	display: flex;
	width: 15%;
    height: 400px;
    /* flex-flow: column; */
    flex-direction: column;
    justify-content: space-between;
}
#middle .middle-content .middle-content-right .nc-home-index{
	border:2px solid #cacaca;
	display: flex;
	justify-content: space-around;
	padding:5px 5px;
}
#middle .middle-content .middle-content-right .nc-home-index .icon{
	width:33px;
	height:32px;
	margin:0px 0px 2px 0px;
}
.icon-style1{
	background:url(./素材/nc_home_index.png) no-repeat 0px 0px;
}
.icon-style2{
	background:url(./素材/nc_home_index.png) no-repeat -34px 0px;
}
.icon-style3{
	background:url(./素材/nc_home_index.png) no-repeat -67px 0px;
}
#middle .middle-content .middle-content-right .nc-home-index .text{
	
	position:relative;
	font-size: 12px;
	left:-5px;
	color:#60605f;
}
#middle .middle-content .middle-content-right .content-right-message{
	border:2px solid #cacaca;
	font-size: 13px;
	color:#9c9ba0;
}
#middle .middle-content .middle-content-right .content-right-message .msg-tab{
	border-bottom: 2px solid #cacaca;
	display: flex;
	justify-content: space-between;
}
#middle .middle-content .middle-content-right .content-right-message .msg-tab span:nth-of-type(1){
	color:#60605f;
	margin:6px;
}
#middle .middle-content .middle-content-right .content-right-message .msg-tab span:nth-of-type(2){
	margin:6px;
}
#middle .middle-content .middle-content-right .content-right-message .msg-content{
	font-size:10px;
}
#middle .middle-content .middle-content-right .content-right-message .msg-content .text{
	color: #60605f;
}
#middle .middle-content .middle-content-right .content-right-message .msg-content div{
	margin:5px;
}
#middle .middle-content .middle-content-right .ebanner {
	display: flex;
	flex-direction: column;
}
#middle .middle-content .middle-content-right .ebanner img {
 
  height: auto;
  margin-bottom: 5px;
}
#middle .middle-content .middle-content-right .ebanner :nth-last-of-type(1){
	margin: 0;
}

#middle .middle-bottom{
	margin-top:10px;
	display: flex;
    justify-content: space-between;
}

#middle .middle-bottom li{
	list-style: none;
	float: left; 
	flex: 1;
	margin-right: 10px;

}
#middle .middle-bottom li:nth-last-of-type(1){
	margin-right:0;
}
#middle .middle-bottom li img{
	width:100%;
	height:130px;
}

#like{
	color:#959592;
	font-size:13px;
	/* border:2px solid red; */
}
#like .like-tab{
	/* border:2px solid black; */
}
#like .like-tab span:nth-of-type(1){
	color:#60605f;
	font-size:17px;
	font-weight: 600;
	margin-right: 10px;
}
#like .like-content-list{
	border:2px solid #cacaca;
	margin:10px 0px;
	overflow: hidden;
}

#like .like-content-list .like-content-item{
	width:180px;
	float: left;
	text-align: center;
}
#like .like-content-list .like-content-item:nth-of-type(n+2){
	border-left:2px solid #cacaca;
}
#like .like-content-list .like-content-item img{
	/* margin:20px; */

}
#like .like-content-list .like-content-item .msg{
	margin:0px 15px 5px 15px;
}
#like .like-content-list .like-content-item .msg .price{
	color:#c9471c;
	font-size: 16px;
}
#oneF{
	color:#959592;
	font-size:13px;
	margin-top:25px;
}
#oneF .oneF-tab,.twoF-tab{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	border-bottom:2px solid #3b7f96;
	/* margin-bottom: 10px; */
}
#oneF .oneF-tab .tab-title,.twoF-tab .tab-title{
	color:#60605f;
	font-weight: 600;
	/* width:70%; */
	padding:5px 0;
}
#oneF .oneF-tab .tab-list,.twoF-tab .tab-list{
	/* width:30%; */
	display: flex;
	justify-content: space-between;
}
 #oneF .oneF-tab .one-tab-item-out,.two-tab .two-tab-item-out{
	text-align: center;
} 
#oneF .oneF-tab .one-tab-item-out:nth-of-type(n+2),.twoF-tab .two-tab-item-out:nth-of-type(n+2){
	border-left:1px solid #cacaca;
}
#oneF .oneF-tab .one-tab-item-out div,.twoF-tab .two-tab-item-out div{
	margin:5px 15px;
	border-left:0px solid red;
}
#oneF .oneF-tab .active,.twoF-tab .active{
	position:relative;
	height:calc(100% + 0.1px);
	border-top:2px solid #3b7f96;
	border-left:2px solid #3b7f96 !important;
	border-right:2px solid #3b7f96;
	background-color: #fff;
}
#oneF .oneF-content{
	display: flex;
	justify-content: space-between;
}
#oneF .oneF-left .left-center{
	background-color: #d4e6ea;
	width:100%;
	position:relative;
	top:-5px;
}
#oneF .oneF-left .left-center .item{
	padding:10px 0px 5px 15px;
}
#oneF .oneF-left .left-center .icon{
	width:26px;
	height:26px;
	float: left;
}
#oneF .oneF-left .left-center .item-icon1{
	background: url(./素材/electronicsicon.png) no-repeat 0px 0px;
}
#oneF .oneF-left .left-center .item-icon2{
	background: url(./素材/electronicsicon.png) no-repeat 0px -26px;
}
#oneF .oneF-left .left-center .item-text{
	position:absolute;
	margin:3px 5px;
}
#oneF .oneF-left .left-bottom{
	position:relative;
	top:-5px;
	width:100%;
	background-color: #e8f8fc;
	padding:10px 0px 10px 20px;
}
#oneF .oneF-left .left-bottom .lb-item1 td div{
	padding:2px;
	/* border:1px solid red; */
}
#oneF .oneF-left .left-bottom table td{
	padding-top:10px;
	font-size:12px;
}
#oneF .oneF-right{
	width:100%;
	/* border:1px solid red; */
}
#oneF .oneF-right .right-content{
	/* border:1px solid red; */
	overflow: hidden;
}
#oneF .oneF-right .imgs-item{
	float:left;
	/* display: inline-block; */
}
#oneF .oneF-right .imgs-item img{
	width:210px;
	border:1px solid #e9e7e7;
	margin:-2px;
}
#splite-line{
	margin:10px 0px 20px 0px;
	display: flex;
	justify-content: space-between;
	/* overflow: hidden; */
}

#splite-line img{
	width:100%;
	display: block;
	/* width:auto; */
}
#boutique{
}
#boutique .boutique-tab{
	font-size: 16px;
	color:#60605f;
	font-weight: 600;
	margin-bottom: 10px;
}
#boutique .boutique-content{
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color:#7c7c7a;
	border:1px solid #cacaca;
}
#boutique .boutique-content .content-left{
	text-align: center;
}
#boutique .boutique-content .content-left .msg{
	/* padding:0px 10px; */
}
#boutique .boutique-content .content-left .msg .msg-text{
	margin:10px;
}
#boutique .boutique-content .content-left .msg .msg-text .price{
	color:#c9471c;
	font-weight: 700;
}

#boutique .boutique-content .content-san{
	height:100%;
}
#boutique .boutique-content .content-left img{
	/* border:1px solid red; */
}
#boutique .boutique-content .content-center,#boutique .boutique-content .content-right{
	display: flex;
	flex-flow: column;
	/* border:1px solid blue; */
}
#boutique .boutique-content .bags-content{
	width:100%;
}

#boutique .boutique-content .content-center-item .bags-item:nth-of-type(1){
	border-left:1px solid #cacaca;
}
#boutique .boutique-content .content-center-item .bags-item{
	width:33%;
	float:left;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	display: flex;
	justify-content: space-around;
	padding:10px;
	overflow: hidden;
}
.content-center-item-bottom .bags-item{
	border-bottom:none !important;
}
#boutique .boutique-content .content-center-item .bags-item .bags-item-info{
	padding:10px;
	letter-spacing: 1px;
	font-weight: 500;
}
#boutique .boutique-content .content-center-item .bags-item .bags-item-info div{
	padding:10px 0px;
}
#boutique .boutique-content .content-center-item .bags-item .bags-item-info .bag-price{
	color: #c9471c;
	font-weight: 700;
}
#boutique .boutique-content .content-right{
	display: flex;
	flex-flow: column;
	justify-content: space-around;
}
#boutique .boutique-content .content-right .content-right-item{
	display: flex;
	justify-content: space-between;

}
.content-right-item-left img{
}
#boutique .boutique-content .content-right .content-right-item .content-right-item-right img{
	width:40px;
}
#bottom{
	border-top:1px solid #cacaca;
	margin-top:10px;
	display: flex;
	justify-content: space-around;
	color:#7c7c7a;
	font-size: 12px;
	line-height: 2;
	text-align: center;
}
#bottom .bot-item{
	float: left;
	margin:30px 0px;
}
#bottom .bot-item .title{
	font-size: 20px;
	color:black;
}

.cart-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f0f0f0;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-left: 270px;
  }
  
  .cart-btn:hover {
	background-color: #333;
	color: #fff;
  }
  
  .cart-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
  }
  
  .cart-text {
	margin-left: 10px;
  }
  
  .top-content-left{
	display: flex;
 	align-items: center;
  	justify-content: space-between;
 	padding: 0px 0px;

  }